<%- include('./partials/header.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
        <h2>All blogs</h2>
    </div>
    <div class="about content">
        <h3>This is my first nodejs project. You can happily leave your feedback or idea here, thank you.</h3>
    </div>
    <%- include("./partials/footer.ejs") %> 
</body> 
</html>